#cardSwiper {
  margin: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#cardSwiper .swiper {
  /*padding: 62px 0 32px 0;*/
  padding: 62px 41px 32px 32px;
}

#cardSwiper .swiper-wrapper {

}

#cardSwiper .swiper-slide {
  width: 392px;
}

@media screen and (max-width: 1024px) {
  #cardSwiper .swiper {
    padding: 62px 41px 32px 16px;
  }

  #cardSwiper {
    /*margin: 0 -41px 0 -32px;*/
    margin: 0 -16px;
  }
}

@media screen and (max-width: 576px) {
  #cardSwiper .swiper-slide {
    width: 310px;
  }
}
