.cover__first {
    width: 50%;
    position: relative;
}

.cover__first > img {
    position: absolute;
    left: -60px;
    top: -60px;
    z-index: -1;
}

h1 {
    font-size: 64px;
    line-height: 70px;
    font-family: 'Gilroy-600', sans-serif;
}

.cover__first > p {
    line-height: 30px;
    color: #6A6D7D;
    margin: 12px 0 32px;
}

.cover__button-wrap{
    display: flex;
}
.cover__button {
    background: #F4F7FF;
    border: 1px solid #EBEEF8;
    color: #15151B;
}

