#winnerInfoWrap{
    padding: 0 0 120px 0;
}

.winnerInfo__titles{
    display: flex;
    padding: 0 14px;
}

.winner__first{
    width: 7%;
}

.winner__second{
    width: 27%;
}

.winner__rest{
    width: 16.5%;
}


@media screen and (max-width: 820px) {
  .winnerInfo__titles p{
    font-size: 12px;
  }
}

@media screen and (max-width: 576px){
  #winnerInfoWrap{
    display: none;
  }
}

